#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    aliases {
        sensorgpio = &sensor_node;
        cameragpio = &camera_node;
    };

    sensors {
        compatible = "gpio-keys";

        sensor_node: sensor_gpio0 {
            gpios = <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            label = "Sensor GPIO (pin 5)";
        };

        camera_node: camera_gpio0 {
            gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            label = "Camera GPIO (pin 6)";
        };
    };
};
